<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Blood Bank System</display-name>

    <servlet>
        <servlet-name>DonneurController</servlet-name>
        <servlet-class>com.bloodbank.controller.DonneurController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DonneurController</servlet-name>
        <url-pattern>/donneurs</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>ReceveurController</servlet-name>
        <servlet-class>com.bloodbank.controller.ReceveurController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceveurController</servlet-name>
        <url-pattern>/receveurs</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AssosiateDonneurReceveur</servlet-name>
        <servlet-class>com.bloodbank.controller.AssosiateDonneurReceveur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssosiateDonneurReceveur</servlet-name>
        <url-pattern>/assosiate</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CompatibleDonorsServlet</servlet-name>
        <servlet-class>com.bloodbank.controller.CompatibleDonorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompatibleDonorsServlet</servlet-name>
        <url-pattern>/compatibleDonors</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DeletReceveur</servlet-name>
        <servlet-class>com.bloodbank.controller.DeletReceveur</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeletReceveur</servlet-name>
        <url-pattern>/receveurs/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletDonneur</servlet-name>
        <servlet-class>com.bloodbank.controller.DeletDonneur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletDonneur</servlet-name>
        <url-pattern>/Donneur/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateDonneur</servlet-name>
        <servlet-class>com.bloodbank.controller.UpdateDonneur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDonneur</servlet-name>
        <url-pattern>/donneur/update</url-pattern>
    </servlet-mapping>

   <servlet>
       <servlet-name>UpdateReceveur</servlet-name>
       <servlet-class>com.bloodbank.controller.UpdateReceveur</servlet-class>
   </servlet>

    <servlet-mapping>
        <servlet-name>UpdateReceveur</servlet-name>
        <url-pattern>/receveur/update</url-pattern>
    </servlet-mapping>


</web-app>
